	
			/*     640<=x<=1000*/
			#header{
				max-width: 2290px;
			}
			.header-right{
				width: 100%;
			}
			.header-left{
				display: none;
			}
			.header-right ul{
				height: 100%;
			}
			.header-right ul li{
				float: left;
				height: 100%;
				width: 20%;
				text-align: center;
				line-height: 70px;
			}
			.header-right ul li a{
			    font-size: 18px;  
			}
			.phone{
				display: none;
			}
			.banner{
				height: 300px;
			}	
			
			
			
			/* 第二块 */

			.main-auto{
			    margin: 0 4%;
			}
			.content-left{
				width: 92.5%;
			}
			.content-right{
				display: none;
			}
			form label{
			    display: block;
			}
			form input{
			    height: 40px;
			    width: 97%;
			    border-radius: 5px;
			    border: 1px solid #CCC;
		        margin: 15px 0px;
			}
			.order-button{
			    width: 29%;
			    line-height: 40px;
			    margin: -0.5% 37%;
			}
			.classic-title{
			    width: 97%;
			    height: 40px;
			    background: #FAFAFA;
			    padding-left: 10px;
			    font-size: 1.5rem;
			    font-weight: 200;
			    line-height: 40px;
				
			}
			
			
			/*最新机票。和pc端公用*/
			.ticket-latest {
			    margin-top: 4%;
			}
			.ticket-title h2{
			    font-size: 1.6rem;
			}
			.route-list ul{
				margin-top: 3%;
			}
			.route-list ul li{
				border: 1px solid #ddd;
				height: 50px;
				line-height: 50px;
				border-bottom: none;
			}
			.route-list ul li span{
				display: inline-block;
			    font-size: 1.1rem;
			    line-height: 50px;
			    height: 100%;
			    text-align: center;
			  
			}
			.route-list ul li span:nth-child(1){
				  width: 20.7%;
			}
			.route-list ul li span:nth-child(2){
				  width: 12.4%;
			}
			.route-list ul li span:nth-child(3){
			        width: 10.8%;
			        color: #FF6600;
			}
			.route-list ul li span:nth-child(4){
				     width: 9.7%;
			}
			.route-list ul li span:nth-child(5){
				    width: 9.7%;
			}
			.route-list ul li span:nth-child(6){
				   width: 21.9%;
			}
			.route-list ul li:hover{
				background: #ddd;
			}
			.route-list ul li.list-nav span:nth-child(7){
				   width: 15%;
				   height: 100%;
				   background: none;
				   color: #666;
				  line-height: 50px;
				   
			}
			.route-list ul li:last-child{
				border-bottom: 1px solid #ddd;
				font-size: 1.1rem;
				text-align: center;
			}
			.route-list ul li.list-nav span:nth-child(3){
			       color: #666;
			}
			.route-list ul li span:nth-child(7){
				   width: 9%;
				   height: 35px;
				   background: #FF6600;
				   color: #fff;
				   line-height: 35px;
				   border-radius: 5px;
				 
			}
			.route-list ul li.list-nav span.order{
				width: 10%;
			}
			



			/*底部*/
			
			#footer{
				background: #222222;
				width: 100%;
				margin-top: 35px;
			}
			#footer h2{
				color: #ccc;
			}
			#footer hr{
				width: 90%;
			    border: 1px dashed #333;
			    margin-left: 0;
			}
			.footer-top{
				margin-left: 3%;
			}
			.footer-left,.footer-center,.footer-right{
			    width: 33.1%;
			    height: 280px;
			    display: inline-block;
			    text-align: left;
			    color: #ccc;
			    vertical-align: top;
			    margin-top: 3%;
			}
			#footer ul li{
			    font-size: 18px;
			    color: #777;
			    line-height: 2;
			}
			.footer-bottom,.footer-client{
			    width: 100%;
			    text-align: center;
			    color: #777;
			    font-size: 18px;
			    background-color: #000;
			    font-weight: 600;
			    border-top: 1px solid #444;
			}
			.footer-client{
				 height: 70px;
				 line-height: 70px;
			}
			.footer-bottom{
				height: 80px;
				line-height: 80px;
			}
			.footer-client{
				display: block;
			}
			.bottom1{
				display: none;
			}
			.footer-auto{
				display: none;
			}
